//spacing
$spacing-types: (
    m:margin,
    p:padding
);
$spacing-directions: (
    t:top,
    r:right,
    l:left,
    b:bottom
);
$spacing-base-size:1rem;
$spacing-sizes: (
    0:0, 
    1:0.25, 
    2:0.5, 
    3:1, 
    4:1.5,
    5:3,
);
@each $typeKey, $type in $spacing-types {
    //.m-1
    @each $sizeKey, $size in $spacing-sizes {
        // .m-1 {margin:0.25rem}
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size*$spacing-base-size;
        }
    }
    // .mx-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size*$spacing-base-size;
            #{$type}-right: $size*$spacing-base-size;

        }
    }
    // .my-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size*$spacing-base-size;
            #{$type}-bottom: $size*$spacing-base-size;

        }
    }

    
    //.mt-1
    @each $directionKey, $direction in $spacing-directions{
        @each $sizeKey, $size in $spacing-sizes {
            // .mt-1 {margin-top:0.25rem}
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction} : $size*$spacing-base-size;
            }
        }
    }
}