@charset "utf-8";
@import './variable.scss';


// 样式重置
*{
    // 全部设为包括边框的盒子类型
    box-sizing:border-box;
    // 取消高亮效果
    outline: none;
}
html{
    font-size: 13px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background-color: #f1f1f1;
}
a {
    color: #999;
}


// colors
@each $colorKey, $color in $colors {
    // 文本颜色
    .text-#{$colorKey} {
        color: $color;
    };
    // 背景颜色
    .bg-#{$colorKey}{
        background-color: $color;
    }
}


// text-align
// 工具类，可以直接class = ".text-left"使用
@each $var in (left,center,right) {
    .text-#{$var} {
        text-align: $var  !important;
    }
}

// font-size
@each $sizeKey,$size in $font-sizes {
    .font-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

//height,weight
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

//flex
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
// 主轴对齐方式 justify-content
@each $key, $value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}
// 项目对齐方式 align-items
@each $key, $value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}
.flex-1 {
    flex:1;
}
// 自动拉伸
.flex-grow-1 {
    flex-grow: 1;
}

//spacing
@each $typeKey, $type in $spacing-types {
    //.m-1
    @each $sizeKey, $size in $spacing-sizes {
        // .m-1 {margin:0.25rem}
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size*$spacing-base-size;
        }
    }
    // .mx-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size*$spacing-base-size;
            #{$type}-right: $size*$spacing-base-size;

        }
    }
    // .my-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size*$spacing-base-size;
            #{$type}-bottom: $size*$spacing-base-size;

        }
    }

    
    //.mt-1
    @each $directionKey, $direction in $spacing-directions{
        @each $sizeKey, $size in $spacing-sizes {
            // .mt-1 {margin-top:0.25rem}
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction} : $size*$spacing-base-size;
            }
        }
    }
}

//button
.btn {
    border: none;
    border-radius: 0.1538rem;
    // map-get：从预定义的尺寸里选择一个
    font-size: map-get($font-sizes, 'sm')*$base-font-size;
    padding:0.2rem, 0.6rem;
}
//nav
.nav {
    display: flex;
    .nav-item {
        // 都给一个透明的边框可以对齐
        border-bottom:3px solid transparent;
        padding-bottom: 0.2rem;
        // &.active中间不要加空格！
        &.active {
            color :map-get($colors, 'primary');
            // background-color: turquoise;
            border-bottom:3px solid map-get($colors, 'primary');
        }
    }
    &.nav-inverse {
        .nav-item {
            color:map-get($colors, 'white');
            &.active {
                border-bottom-color: map-get($colors, 'white');
            }
        }
    }

    
}

//sprite
.sprite{
    background: url(../assets/img/sprite.png) no-repeat 0 0;
    background-size: 28.8462rem;
    // 精灵图必须设置宽高，否则无法显示
    display:inline-block;
    &.sprite-news {
        width: 1.7692rem;
	    height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }
    &.sprite-arrow {
        width: 0.7692rem;
	    height: 0.7692rem;
        background-position: 38.577% 52.076%;
    }
}