@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627895665333') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e67c";
}

.icon-jineng:before {
  content: "\e682";
}

.icon-liebiaoicon-bofangliang:before {
  content: "\e611";
}

.icon-card-hero:before {
  content: "\e61f";
}

.icon-shipin:before {
  content: "\e63d";
}

.icon-qa:before {
  content: "\e501";
}

.icon-guanxi:before {
  content: "\e6a8";
}

.icon-wuqiku:before {
  content: "\e502";
}

.icon-duikang:before {
  content: "\e6f8";
}

.icon-back:before {
  content: "\e62f";
}

.icon-menu1:before {
  content: "\e62e";
}

.icon-new:before {
  content: "\e94e";
}

.icon-tedian:before {
  content: "\e643";
}

